# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env

# Google credentials
service_account.json

# Streamlit cache
.streamlit/

# Data outputs
data/raw/
data/processed/

# OS
.DS_Store